.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18%;
  background-color: #354a60;
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.link-container {
  display: flex;
  gap: 10%;
  align-items: center;
}

.icon {
  font-size: 30px;
  color: orangered;
}

.active {
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #007bff;
  background-color: #354a60;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {

  /* Mobile devices */
  .sidebar {
    width: 60px;
    padding: 10px;
  }

  a span {
    display: none;
  }
}